body{
	background-color: #515465;
	color: #FFF9F3;
	font-family: arial;
}
table{
	border-collapse: collapse;
	width: 800px;
	align: center;
}
td, tr, th{
	border: 1px solid #E1DFF4;
	text-align: left;
}

th{
	background-color:#040210;
}

tr:nth-child(even){
	background-color:#666379;
}

h1{
	font-family: verdana;
	color: #FFD1C9;
}