body{
	background-color: #1A2811;
	color: #C0FFB1;
	font-family: arial;
}
table{
	border-collapse: collapse;
	width: 800px;
	align: center;
}
td, tr, th{
	border: 1px solid #095306;
	text-align: left;
}

th{
	background-color:#43852E;
}

tr:nth-child(even){
	background-color:#66BF31;
}

h1,h2,h3,h4{
	font-family: verdana;
	color: #66BF31;
}