body{
	background-color:#271513;
}
h1,h2,h3,h4{
	color:#a42504;
	font-family: verdana;
}
a{
	color:#d37e2d;
	font-family: verdana;
hr{
	border-color:#d37e2d
}
}
p, li, ol, ul, figcaption, table, div, span{
	color:#DDA866;
	font-family: arial;
}
