body{
	background-color: #2B2219;
	color: #FFFBE8;
	font-family: arial;
}
table{
	border-collapse: collapse;
	width: 555px;
	align: center;
}
td, tr, th{
	border: 1px solid #E0CAB5;
	text-align: left;
}

th{
	background-color:#2B2219;
	color:#FFFBE8
}

tr:nth-child(even){
	background-color:#48413B;
}

h1,h2{
	font-family: verdana;
	color: #3ED4C9;
}

h3{
	font-family: verdana;
	color: #AF2026;
}